.venv

.python-version

__pycache__/

notefile.txt

## Dataset
data/
flower_data/
corrupted_flower_data/
cifar_100/
dataset/
nb_image/
c2_preview/
cifar10/
AIvsReal_sampled/
example.db
apple_ad_subset/
cifar10_3class_imbalanced
images/

## Model

**.pth